<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenidos a Apoyo Escolar en Linea</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <header>
      <div class="logo">
        <h1>Bienvenidos a Apoyo Escolar</h1>
      </div>
      <div class="buscar">
        <input type="text" name="" id="" placeholder="Buscador">
      </div>
      <div class="menu">
        <ul>
          <li>Inicio</li>
          <li>Materiales</li>
          <li>Practicas</li>
          <li>Videos</li>
          <li>Ayuda</li>
        </ul>
        <ul>
          <li>Registrarse</li>
          <li>Login</li>
        </ul>
      </div>
    </header>
    <section class="banner">
      <div class="info">
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius perferendis delectus, vero neque tempore non iusto fugiat similique repellat in sapiente ipsa reprehenderit ducimus possimus corrupti tempora! Ullam, expedita fuga!</h4>
      </div>
      <div class="login">
      <h3>Login</h3>
      <form action="" method="post">
        <i class="far fa-envelope"></i><input type="email" name="email" id="" placeholder="E-mail">
        <i class="far fa-lock-alt"></i></i><input type="password" name="password" id="" placeholder="Password">
      </form>
      </div>
    </section>
    <section class="materiales">
      <h1>Elija su temario de practica</h1>
      <div class="room">
        <div class="room1 box">
          <a href="">
          <div class="img">
            <img src="/images/260_2162.JPG" alt="">
            <h2>Matematicas</h2>
          </div>
          </a>
        </div>
        <div class="room2 box">
          <a href="">
          <div class="img">
            <img src="/images/260_2162.JPG" alt="">
            <h2>Lengua</h2>
          </div>
          </a>
        </div>
        <div class="room3 box">
          <a href="">
          <div class="img">
            <img src="/images/260_2162.JPG" alt="">
            <h2>Ciencias Naturales</h2>
          </div>
          </a>
        </div>
        <div class="room4 box">
          <a href="">
          <div class="img">
            <img src="/images/260_2162.JPG" alt="">
            <h2>Ciencias Sociales</h2>
          </div>
          </a>
        </div>
        <div class="room5 box">
          <a href="">
          <div class="img">
            <img src="/images/260_2162.JPG" alt="">
            <h2>Computacion</h2>
          </div>
          </a>
        </div>
        <div class="room6 box">
          <a href="">
          <div class="img">
            <img src="/images/260_2162.JPG" alt="">
            <h2>Ingles</h2>
          </div>
          </a>
        </div>
      </div>
      <article class="somos">
        <h2>Quienes somos ?</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci est, laborum cupiditate ad fugit explicabo ipsam, alias doloribus molestiae fuga tempora, voluptates corrupti illo eius atque temporibus unde quasi deserunt?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Non dolores dignissimos labore! Magni, consequuntur qui eveniet sunt ratione voluptatem, fugiat illum laborum debitis sit dolore natus blanditiis iusto! Suscipit, provident!
        </p>
      </article>
    </section>
    <section class="generos">
      <div class="lectura">
        <a href="">
        <img src="/images/260_2162.JPG" alt="">
        <h2>Lectura</h2>
        </a>
      </div>
      <div class="practica">
        <a href="">
        <img src="/images/260_2162.JPG" alt="">
        <h2>Practica</h2>
        </a>
      </div>
      <div class="videos">
        <a href="">
        <img src="/images/260_2162.JPG" alt="">
        <h2>Videos</h2>
        </a>
      </div>
    </section>
    <footer>
      <div class="redes"></div>
      <div class="contacto"></div>
    </footer>
  </body>
</html>
